p {
font-family: 'Pt Sans',sans-serif;
color: #9900cc;
text-align: center;
}
img{
display: block;
margin-left: auto;
margin-right: auto;
width: 200px;
}

h1 {
color: #d22d2d;
text-align: center;
font-family: 'Open Sans', sans-serif;
}

h2 {
text-align: center;
font-family: 'Pt Sans',sans-serif;
font-size: 14pt;
}

input {
width: 25%;
    background-color: #d22d2d;
        color: white;
            padding: 10px 20px;
                margin: 8px 0;
                    border: none;
                        border-radius: 4px;
text-align: center;
}

form {
margin: 0 auto;
width: 100%;
display: inline-block;
    text-align: center;
}

input::placeholder{
color: white;
text-align: center;
}
/*input [type=text]
{
    color: white;
}*/
